

.mainabout{
    /* display: flex; */
width: 85vw;
justify-content: center;
text-align: center;
  border: 4px groove rgb(122, 69, 5) ;
  box-shadow: 5px 5px   rgb(29, 198, 108)  ;
  border-radius: 1rem;
   margin-top: 7rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
   
}
.abouttitle{
    margin-left: auto;
    margin-right: auto;
    color: aqua;
    text-align: center;
    margin-top: 1rem;
    border: 3px solid;
    width: max-content;
    padding: 0.7rem;
   border-top-left-radius: 1.9rem;
   border-bottom-right-radius: 1.9rem;
}
.aboutmsg{
    margin: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}
.aboutmsg p{
color:#d1cade;
font-family: monospace;
font-weight: 800;
font-size: 1.2rem;
width:70vw;
margin-left: auto;
margin-right: auto;

}
.socialmedia{
   
    font-size:2rem;
      display: flex;
      justify-content: space-around;
      margin-bottom: 1rem;
    cursor: pointer; 
}

.facebook{
    color: rgb(55, 55, 214);
    
    border: 2px solid aqua;
    width: 6vw;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
   padding: 0.4rem;
   transition: transform .2s;
}

.instagram{
    color:#C13584;
  
    border: 2px solid aqua ;
    width: 6vw;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    padding: 0.4rem;
    transition: transform .2s;
}
.linkedin{
    color:rgb(66, 66, 216);
   
    border: 2px solid aqua ;
    width: 6vw;
    border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  padding: 0.4rem;
  transition: transform .2s;
}
.youtube{
    color:rgb(158, 38, 38);
   
    border: 2px solid aqua ;
    width: 6vw;
    border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  padding: 0.4rem;
  transition: transform .2s;
}

.github{
    color:rgb(119, 103, 103);
   
    border: 2px solid aqua ;
    width: 6vw;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    padding: 0.4rem;
    transition: transform .2s;
}
.overflow{
    color:rgb(238, 103, 13);
    
    border: 2px solid aqua ;
    width: 6vw;
    border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  padding: 0.4rem;
  transition: transform .2s;
}
.wikipedia{
    color: rgb(55, 55, 214);
    border: 2px solid aqua ;
    width: 6vw;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    padding: 0.4rem;
    transition: transform .2s;
}
.fa:hover{
    transform: scale(1.1);
}

@media only screen and (max-width: 900px) {
    .menu{
       display: none;
    }
    .socialmedia{
        font-size:1rem;
          display: flex;
          justify-content: space-evenly;
          margin-bottom: 1rem;
        cursor: pointer; 
    } 
    .fa{
        border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    }
}

    

