@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

@font-face {
    font-family: monospace;
    src: url(/font/FontsFree-Net-Centauri.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: century;
    list-style: none;
    text-decoration: none;   
}

a{
    color: black;

}

body{
    background-image: url("../img/backround.gif");
    background-color: black;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
    /* background-size: 100% 100%; */
    justify-content: center;
   

   
}

header{
    background-color:rgb(145, 220, 250);
    height: 3.5rem;
    /* border-radius:0rem 0rem .8rem .8rem ; */
    align-items: center;
    position:relative;
    text-align: center;
    display: flex;
    /* padding-left: 1rem; */
    justify-content: space-around;
    width:100%;

}

/* .logo{
  width:max-content;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
} */
.logo-image img{
  height: 8rem; 
  border-radius:4rem 0;
  /* top: -4rem; */

/* position:absolute; */

}







img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.logo-text{
    width: fit-content;
    font-weight: 900;
    font-size: large;
    color: rgb(5, 89, 122);
    
}

.logo-text:hover{
    
    color: rgb(29, 113, 146);
}
.menu {
    /* width:30% ; */
    display: flex;
   justify-content: space-between;
   cursor: pointer;
    
   font-size:1.3rem;
}
.menu li{
    margin: 1rem;
    border-left: 1px solid;
    border-bottom: 1px solid;
    padding: 5px;
    border-color: rgb(14, 110, 110);
    border-radius: 1rem 0;
}

.menu li:hover{
    background-color: beige;
    border-right: 1px solid;
    border-top: 1px solid;



}
.welcome{
    color: aqua;
font-size: 3rem;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 1.8rem;
    text-shadow:1px 1px 30px yellowgreen ;
    backdrop-filter: blur(5px);
}
/* p{
    color: aqua;
    font-size:1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(172, 172, 72);
    text-shadow:1px 1px 30px yellowgreen ;
   
} */


#countdown{
    font-size: 2rem;
}

footer{
    padding-left: 3rem;
    padding-right: 3rem;
    position:relative;
    background-color: rgb(84, 160, 142);
    height: 15rem;
    align-items: center;
    padding-bottom: 1rem;
}

footer h3{
    font-size: .7rem;
    text-align: center;
    margin-bottom:.5rem;
    border-bottom: 2px solid;
    border-left: 1px solid;
    padding: .4rem;
    border-radius: 1rem 0;
    border-color: rgb(5, 66, 68);
    background-color: rgb(176, 233, 233);
}

footer li{
    margin-top: .5rem;
    margin-bottom: .5rem;
    cursor: pointer;

}

.footer-item{
    display: flex;
    justify-content: space-between;
    margin-top: -40px;

}
.footer-design{
    position:relative ;
  width: 320px;
  height:6rem;
  /* background-color: rgb(59, 8, 8); */
  top:0px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 9rem 0;
   
}
.footer-design::before, .footer-design::after{
    position: absolute;
  content:"";
  border-right: 60px solid transparent;
  border-left:60px solid transparent;
  width: 200px;
  height:0px;
  left:0;
}

.footer-design::before{
    border-top:40px solid rgb(3, 3, 3);
  top:0;
}

/* .logo-image::after{
    border-bottom:60px solid rgb(0, 0, 0);
    top:-60px;
} */

.first-column{
 font-size: medium;
 width: 30%;
}
.second-column{

    background-color: white;
    width: min-content;
    height: fit-content;
    border-radius: 50%;
    

}

.second-column img{
    height: 8rem;
   
}


.third-column{
    font-size: medium;
    width: 30%;

}

.copyright{
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
/* width: max-content; */
    background-color: rgb(255, 255, 255);
border-radius: 1rem  0;
padding: .4rem;
margin-bottom: 1rem;
}


.copyright p{
    font-size: 1rem;
    text-align: center;
    color: rgb(47, 48, 41);
    
}

footer li:hover{
    color: rgb(18, 7, 121);
    
}

@media only screen and (max-width: 900px) {
    .menu{
       display: none;
    }
   
    .first-column{
        font-size: .7rem;
        width: 30%;
       }
       .second-column img{
        height: 4rem;
       
    }
    
       .third-column{
        font-size: .7rem;
        width: 30%;
    
    } 

    .copyright p{
        font-size: .7rem;

        
    }

    .footer-design{
        position:relative ;
      width: 160px;
      height:6rem;
      /* background-color: rgb(59, 8, 8); */
      top:0px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 9rem 0;
       
    }
    .footer-design::before, .footer-design::after{
        position: absolute;
      content:"";
      border-right: 30px solid transparent;
      border-left:30px solid transparent;
      width: 100px;
      height:0px;
      left:0;
    }
    
    .footer-design::before{
        border-top:25px solid rgb(3, 3, 3);
      top:0;
    }
    
}