@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

@font-face {
    font-family: century;
    src: url(/font/FontsFree-Net-Centauri.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: century;
    list-style: none;
    text-decoration: none;
}
body{
    background-image: url("../img/backround.gif");
    background-color: black;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
    /* background-size: 100% 100%; */
    justify-content: center;
   

   
}

header{
    background-color: rgb(169, 222, 238);
    height: 3rem;
    border-radius:0rem 0rem .8rem .8rem ;
    align-items: center;
    text-align: center;
    display: flex;
    /* padding-left: 1rem; */
    justify-content: space-around;
    width:100%;

}
.logo{
  width:max-content;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.logo-image img{
  height: 2.5rem; 
  border-radius: 50%;
  margin-right: 1rem;

}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.logo-text{
    width: fit-content;
    font-weight: 900;
    font-size: large;
    color: rgb(5, 89, 122);
    
}

.logo-text:hover{
    
    color: rgb(29, 113, 146);
}
.menu {
    /* width:30% ; */
    display: flex;
   justify-content: space-between;
   cursor: pointer;
    
   font-size: x-small;
}
li{
    margin-left: 10px;
}
h1{
    color: aqua;
    text-align: center;
    margin-top: 30vh;
    text-shadow:1px 1px 30px yellowgreen ;
    backdrop-filter: blur(5px);
}
/* p{
    color: aqua;
    font-size:1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(172, 172, 72);
    text-shadow:1px 1px 30px yellowgreen ;
   
} */


#countdown{
    font-size: 2rem;
}

.teammain{
    color: rgb(28, 219, 219);
    text-align: center;
    margin-top: 10rem;
}

.teamtitle{
    color: aqua;
    border: 2px solid rgb(187, 242, 98);
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding: 1rem;
    font-weight: 800;
    border-top-left-radius:2rem ;
    border-bottom-right-radius: 2rem;
}
.hr_line{
    border:none;
       width: 90%;
      height: 50px;
      margin-top: -1rem;
      border-bottom: 1px solid #1f1209;
      box-shadow: 0 20px 20px -20px rgb(161, 180, 21);
      margin-left: auto;
      margin-right: auto;
}

.combine_photo{
    display:flex ;
    justify-content:space-evenly;
     margin-bottom: 4rem;

}
.teamphoto img{
    border: 4px solid rgb(210, 17, 188);
    border-top-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    box-shadow: 5px 5px rgb(170, 186, 23);
   

}

.teamphoto{
    display: flex;
    justify-content:space-around;
   
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 4rem;
    text-align: center;

}
.social_icon{
    font-size: 2rem;
    padding:2px;
    border-radius: 0.5rem;
    margin-left: -5rem ;
    width: fit-content;
    margin:1rem;
   
}

.teamsocial{
 visibility: hidden;
}

.teamphoto:hover .teamsocial{
    visibility: visible;
cursor: pointer;
}
    
.teamphoto:hover{
    border: 2px solid aqua ;

}


.monowar_name_photo{
    background-color:rgb(85, 0, 128);
    border: 1px solid aqua;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 3.5rem;
    text-align: center;
     
}
.monowar_photo{
    margin-bottom: 0.8rem;
}
.name{
    font-family:monospace;
    color: rgb(255, 77, 0);
}
.name_position{
    font-family: monospace;
    font-size: 12px;
    color: rgb(247, 247, 6);
}
.facebook{
    color: blue;
}
.instagram{
   color:  #C13584;
}
.linkedin{
    color: rgb(66, 66, 216);
}
.github{
    color: rgb(119, 103, 103);
}

.teamphoto img{
    width: 233px;
}

@media only screen and (max-width: 900px) {
    .menu{
        display: none;
     }
     
    .combine_photo{
        display:list-item;
        justify-content:space-evenly;
        text-align: center;
          margin-left: 5rem;
    }
    .teamphoto{
     margin-bottom: 5rem;
     width: 72vw;
     height: 55vh;
    
     text-align: center;
     
    }
    .teamphoto img{
        width:55vw;
        height:38vh;
    }
    .social_icon{
        font-size: 4rem;
        padding:2px;
        border-radius: 0.5rem;
        margin-left: -5rem ;
        width: fit-content;
        margin:1rem;
       
    }
    
}